@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");
//font-family
$muli-font: "Muli";
//fonts-color
$primary-font-color: #ffffff;
$secondary-font-color: #000000;
$third-font-color: #a3a3aa;
$fourth-font-color: #aeb7e0;
$fifth-font-color: #8997ff;
$sixth-font-color: #ffb83e;
$seventh-font-color: #ffba43;
$eighth-font-color: #fcb335;
$tenth-font-color: #5874ea;
$gray-color: #767676;

//backgorund-button-color
$primary-button-bg-color: #ffffff;
$secondary-button-bg-color: #fcb335;
$third-button-bg-color: #8997ff;
$fourth-button-bg-color: #ffb83e;
//backgorund-colors
$primary-bg-color: #ffffff;
$secondary-bg-color: #5874ea;
